.table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh !important;
}

.addButton {
  align-self: end;
  background-color: #52c41a !important;
  border-color: #52c41a !important;
}
